#noProductFound {
  width: 50%;
}
@media screen and (max-width: 992px) {
  #noProductFound {
    width: 75%;
  }
}
@media screen and (max-width: 576px) {
  #noProductFound {
    width: 100%;
  }
}

#searchBar {
  width: 50%;
}
#selectCriteria {
  width: 25%;
}
@media screen and (max-width: 768px) {
  #searchBar {
    width: 90%;
    margin: auto;
  }
  #selectCriteria {
    width: 60%;
    margin: auto;
  }
}

/* Nav and Tabs */
.nav-link {
  color: teal;
}
.nav-link:hover {
  color: rgb(0, 128, 128, 0.8);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: rgb(25, 220, 220);
}
